################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WorkOrderService.slnx
/.vs/DigitalTwinWorkOrderServiceAssignment.slnx/FileContentIndex/e0b8058e-2ed6-4e65-8966-cfe328892c07.vsidx
/.vs
